input{
    width: 500px;
    height: 50px;
    background-color: white;
    border: none;
    padding-left: 15px;
    margin-top: 5px;
    
    
  }

  .btn2{
    width: 150px;
    height: 30px;
    margin-left: 70px;
    margin-top: 4px;
  }

  .login-container{
    background-color: rgb(144, 122, 150);
    padding: 100%;
  }

  .login-box{

    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }

  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  .login-box .user-box {
    position: relative;
  }

  .login-box .user-box input {
    width: 100%;
    height: 50%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  

  
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }

  .login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
  height: 5px;
}

.login-box form .btn2 {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
  
  }

  .login-box .btn2:hover {
    background: #f10808;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f10808,
                0 0 25px #f10808,
                0 0 50px #f10808,
                0 0 100px #f10808;
  }

  .login-box .btn2 {
    position: absolute;
    display: block;
  }
  