
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    align-items: center;
  }
  
  .container{
    background-color: rgb(168, 137, 204);
   width: 500px;
   padding-top: 50px;

   padding-bottom: 100px;
}

.outer-container{
    background-color: rgb(215, 200, 233);
    padding-bottom: 100%;
    padding-top: 100px;
}

input{
    width: 480px;
    height: 50px;
    background-color: white;
    border: none;
    padding-left: 15px;
    margin-top: 5px;
    
    
  }

  .btn4{
    width: 150px;
    height: 30px;
    margin-left: 70px;
    margin-top: 4px;
    color: greenyellow;
    background-color: red;
  }

  .container h4{
    color: greenyellow;
  }