.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  position: absolute;
  top: 0;
  left: 0;
}


.navbar-nav{
  margin-left: auto;
}

.navbar-custom {
  
}

.navbar-nav{
  color: red;
}

.nav-item{
  font-size: larger;
  color: white;
  margin: 20px;
  padding-right: 20px;

}




.home-class .img1{
width: 100%;
height:1000px;
}

.home-class h2{
  text-align: center;
  font-family: Courier, monospace;
  font-weight: bolder;
  margin-top: 40px;
}

.home-class p{
  text-align: center;
  font-weight: 500;

}


.home-class .img2{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 50px;
  
  }

  .gymcontainer {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;

  }

  .centered {
    position: absolute;
    top: 93%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
  }
  .centered{
    width: 510px;
    height: 100px;
  }

  .gymcontainer h3{
    padding-top: 6px;
    font-size:3vh;         /*increases font when you maximize*/
    font-weight: bold;

  }



  .poolcontainer {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 100px;
    
  }

  .btm-pool{
    position: absolute;
    top: 99%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
  }

  .btm-pool{
    width: 510px;
    height: 100px;
   
  }

  .btm-pool h3{
    padding-top: 6px;
    font-size:3vh;
    font-weight: bold;

  }

  .swimcontainer{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 100px;
  }

  .btm-swim{
    position: absolute;
    top: 99%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
  }

  .btm-swim{
    width: 510px;
    height: 100px;
   
  }
  .btm-swim h3{
    padding-top: 6px;
    font-size:3vh;
    font-weight: bold;

  }

 